<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum(VITAE)</title>
    <link rel="stylesheet" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header">
        <div class="header_content">
            <img src="images/carlo.jpg" alt="yo">
            <span class="effect"><h1>Carlos</span> <span class="effect">Solorzano</h1></span>
        </div>
    </header>
    <main class="main">
        <div class="left">
            <p class="title"><b>CONTACTO</b></p>
            <hr>
            <br>
            <div class="phone">
                <img src="images/phone-call-svgrepo-com.svg" alt="phone" class="icon">
                <p>0412-8842252</p>
            </div>
            <div class="email">
                <img src="images/envelope-svgrepo-com.svg" alt="email" class="icon">
                <p>csolorzanosilva@gmail.com</p>
            </div>
            <div class="address">
                <img src="images/placeholder-svgrepo-com.svg" alt="address" class="icon">
                <p>San Juan de los Morros, Guarico</p>
            </div>
            <br>
            <p class="title"><b>IDIOMAS</b></p>
            <hr>
            <br>
            <p>Español: Nativo</p>
            <br>
            <p class="title"><b>APTITUDES</b></p>
            <hr>
            <br>
            <p class="after">Inteligencia emocional</p>
            <p class="after">Espiritu crítico</p>
            <p class="after">Trabajo en equipo</p>
            <p class="after">Capacidad analítica</p>
            <p class="after">Habilidades físicas</p>
            <br>
            <p class="title"><b>HABILIDADES</b></p>
            <hr>
            <br>
            <div class="html">
                <p>HTML</p>
                <div class="yop _html">
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    
                </div>
            </div>
            <div class="html">
                <p>CSS</p>
                <div class="yop _css">
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white"></div>
                    
                </div>
            </div>
            
            <div class="html">
                <p>Javascript</p>
                <div class="yop _js">
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white blue"></div>
                    <div class="white"></div>
                    <div class="white"></div>
                    <div class="white"></div>
                    
                </div>
            </div>
        </div>
        <div class="right">
            <p class="title"><b>PERFIL</b></p>
            <hr><br>
            <p><b>Nombre:</b> Carlos Daniel</p>
            <p><b>Apellido:</b> Solorzano Silva</p>
            <p><b>Cédula:</b> V-30.874.598</p>
            <p><b>Edad:</b> 19</p>
            <p><b>Sexo: </b>Hombre</p>
            <br>
            <p class="title"><b>EXPERIENCIA LABORAL</b></p>
            <hr>
            <br>
            <p>Especialista en Ventas en Compunic F.P</p>
            <br>
            <p class="title"><b>FORMACION</b></p>
            <hr>
            <br>
            <p><b>Primaria</b> <br>U.N.B Juan Germán Roscio</p>
            <br>
            <p><b>Secundaria</b> <br>U.E.N Beatríz Rodríguez</p>
            <br>
            <p><b>Universidad</b> <br>U.E.N Romulo Gallegos</p>
        </div>
    </main>
</body>

</html>
