<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum(VITAE)</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header class="header">
        <div class="header_content">
            <img src="/images/carlo.jpg" alt="yo">
            <h1>Carlos Solorzano</h1>
        </div>
    </header>
    <main class="main">
        <div class="left">
            <p class="title">CONTACTO</p>
            <hr>
            <br>
            <div class="phone">
                <p>0412-8842252</p>
            </div>
            <div class="email">
                <p>csolorzanosilva@gmail.com</p>
            </div>
            <div class="address">
                <p>San Juan de los Morros, Guarico</p>
            </div>
            <br>
            <p class="title">IDIOMAS</p>
            <hr>
            <br>
            <p>Español: Nativo</p>
            <br>
            <p class="title">APTITUDES</p>
            <hr>
            <br>
            <p>Inteligencia emocional</p>
            <p>Espiritu crítico</p>
            <p>Trabajo en equipo</p>
            <p>Capacidad analítica</p>
            <p>Habilidades físicas</p>
            <br>
            <p class="title">HABILIDADES</p>
            <hr>
            <br>
            <p>HTML</p>
            <p>CSS</p>
            <p>Javascript</p>
        </div>
        <div class="right">
            <p class="title">PERFIL</p>
            <hr><br>
            <p><b>Nombre:</b> Carlos Daniel</p>
            <p><b>Apellido:</b> Solorzano Silva</p>
            <p><b>Cédula:</b> V-30.874.598</p>
            <p><b>Edad:</b> 19</p>
            <p><b>Sexo: </b>Hombre</p>
            <br>
            <p class="title">EXPERIENCIA LABORAL</p>
            <hr>
            <br>
            <p>Especialista en Ventas en Compunic F.P</p>
            <br>    
            <p class="title">FORMACION</p>
            <hr>
            <br>
            <p><b>Primaria</b> <br>U.N.B Juan Germán Roscio</p>
            <br>
            <p><b>Secundaria</b> <br>U.E.N Beatríz Rodríguez</p>
            <br>
            <p><b>Universidad</b> <br>U.E.N Romulo Gallegos</p>
        </div>
    </main>
</body>

</html>